<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.intibotbuddy_admin">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Main2Activity" />
        <activity
            android:name=".SafetyActivity"
            android:parentActivityName=".Main2Activity">

            <!-- The meta-data tag is required if it supports API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.intibotbuddy_admin.Main2Activity" />
        </activity>
        <activity
            android:name=".AcademicActivity"
            android:parentActivityName=".Main2Activity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.intibotbuddy_admin.Main2Activity" />
        </activity>
        <activity
            android:name=".TransportationActivity"
            android:parentActivityName=".Main2Activity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.intibotbuddy_admin.Main2Activity" />
        </activity>
        <activity
            android:name=".FacilitiesActivity"
            android:parentActivityName=".Main2Activity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.intibotbuddy_admin.Main2Activity" />
        </activity>
        <activity
            android:name=".ContactsActivity"
            android:parentActivityName=".Main2Activity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.intibotbuddy_admin.Main2Activity" />
        </activity>
        <activity
            android:name=".ActivitiesActivity"
            android:parentActivityName=".Main2Activity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.intibotbuddy_admin.Main2Activity" />
        </activity>
        <activity
            android:name=".HelpdesksActivity"
            android:parentActivityName=".Main2Activity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.intibotbuddy_admin.Main2Activity" />
        </activity>
        <activity
            android:name=".WifiActivity"
            android:parentActivityName=".Main2Activity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.intibotbuddy_admin.Main2Activity" />
        </activity>
        <activity
            android:name=".ExtraInfoActivity"
            android:parentActivityName=".Main2Activity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.intibotbuddy_admin.Main2Activity" />
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:parentActivityName=".Main2Activity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.intibotbuddy_admin.Main2Activity" />
        </activity>
        <activity
            android:name=".InjuredActivity"
            android:parentActivityName=".SafetyActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.intibotbuddy_admin.SafetyActivity" />
        </activity>
        <activity
            android:name=".EmergencyActivity"
            android:parentActivityName=".SafetyActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.intibotbuddy_admin.SafetyActivity" />
        </activity>
        <activity
            android:name=".CounsellingActivity"
            android:parentActivityName=".SafetyActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.intibotbuddy_admin.SafetyActivity" />
        </activity>
        <activity
            android:name=".GetInTouchActivity"
            android:parentActivityName=".AcademicActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.intibotbuddy_admin.AcademicActivity" />
        </activity>
        <activity
            android:name=".WebsitesActivity"
            android:parentActivityName=".AcademicActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.intibotbuddy_admin.AcademicActivity" />
        </activity>
        <activity
            android:name=".SocialMediaActivity"
            android:parentActivityName=".AcademicActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.intibotbuddy_admin.AcademicActivity" />
        </activity>
        <activity
            android:name=".AcademicWebsitesResActivity"
            android:parentActivityName=".AcademicActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.intibotbuddy_admin.AcademicActivity" />
        </activity>
        <activity
            android:name=".IntimaFbActivity"
            android:parentActivityName=".AcademicActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.intibotbuddy_admin.AcademicActivity" />
        </activity>
        <activity
            android:name=".ByIntiActivity"
            android:parentActivityName=".TransportationActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.intibotbuddy_admin.TransportationActivity" />
        </activity>
        <activity
            android:name=".NonIntiActivity"
            android:parentActivityName=".TransportationActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.intibotbuddy_admin.TransportationActivity" />
        </activity>
        <activity
            android:name=".WhereToWaitForBusActivity"
            android:parentActivityName=".TransportationActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.intibotbuddy_admin.TransportationActivity" />
        </activity>
        <activity
            android:name=".FacilitiesGeneralActivity"
            android:parentActivityName=".FacilitiesActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.intibotbuddy_admin.FacilitiesActivity" />
        </activity>
        <activity
            android:name=".FacilitiesAcademicActivity"
            android:parentActivityName=".FacilitiesActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.intibotbuddy_admin.FacilitiesActivity" />
        </activity>
        <activity
            android:name=".FacilitiesHostelActivity"
            android:parentActivityName=".FacilitiesActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.intibotbuddy_admin.FacilitiesActivity" />
        </activity>
        <activity
            android:name=".SportsRecreationalActivity"
            android:parentActivityName=".FacilitiesActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.intibotbuddy_admin.FacilitiesActivity" />
        </activity>
        <activity
            android:name=".ContactsGeneralActivity"
            android:parentActivityName=".ContactsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.intibotbuddy_admin.ContactsActivity" />
        </activity>
        <activity
            android:name=".ContactsAcademicActivity"
            android:parentActivityName=".ContactsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.intibotbuddy_admin.ContactsActivity" />
        </activity>
        <activity
            android:name=".ContactsHostelActivity"
            android:parentActivityName=".ContactsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.intibotbuddy_admin.ContactsActivity" />
        </activity>
        <activity
            android:name=".ContactsOthersActivity"
            android:parentActivityName=".ContactsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.intibotbuddy_admin.ContactsActivity" />
        </activity>
        <activity
            android:name=".SportsActivity"
            android:parentActivityName=".ActivitiesActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.intibotbuddy_admin.ActivitiesActivity" />
        </activity>
        <activity
            android:name=".ClubsSocietiesActivity"
            android:parentActivityName=".ActivitiesActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.intibotbuddy_admin.ActivitiesActivity" />
        </activity>
        <activity
            android:name=".EventsActivity"
            android:parentActivityName=".ActivitiesActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.intibotbuddy_admin.ActivitiesActivity" />
        </activity>
        <activity
            android:name=".ItHelpdeskActivity"
            android:parentActivityName=".HelpdesksActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.intibotbuddy_admin.HelpdesksActivity" />
        </activity>
        <activity
            android:name=".AfmHelpdeskActivity"
            android:parentActivityName=".HelpdesksActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.intibotbuddy_admin.HelpdesksActivity" />
        </activity>
        <activity
            android:name=".MakeEnquiryActivity"
            android:parentActivityName=".HelpdesksActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.intibotbuddy_admin.HelpdesksActivity" />
        </activity>
        <activity
            android:name=".OnlineSuggestionActivity"
            android:parentActivityName=".HelpdesksActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.intibotbuddy_admin.HelpdesksActivity" />
        </activity>
        <activity
            android:name=".StudentWifiActivity"
            android:parentActivityName=".WifiActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.intibotbuddy_admin.WifiActivity" />
        </activity>
        <activity
            android:name=".HostelWifiActivity"
            android:parentActivityName=".WifiActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.intibotbuddy_admin.WifiActivity" />
        </activity>
        <activity
            android:name=".NearbyMallsActivity"
            android:parentActivityName=".ExtraInfoActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.intibotbuddy_admin.WifiActivity" />
        </activity>
        <activity
            android:name=".IntiShuttleActivity"
            android:parentActivityName=".ByIntiActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.intibotbuddy_admin.ByIntiActivity" />
        </activity>
        <activity
            android:name=".LocalShuttleActivity"
            android:parentActivityName=".NonIntiActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.intibotbuddy_admin.NonIntiActivity" />
        </activity>
        <activity
            android:name=".TaxiServiceActivity"
            android:parentActivityName=".NonIntiActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.intibotbuddy_admin.NonIntiActivity" />
        </activity>
        <activity
            android:name=".OtherOptionsActivity"
            android:parentActivityName=".NonIntiActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.intibotbuddy_admin.NonIntiActivity" />
        </activity>
        <activity
            android:name=".AddInjuredActivity"
            android:parentActivityName=".InjuredActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.intibotbuddy_admin.InjuredActivity" />
        </activity>
        <activity
            android:name=".AddEmergencyActivity"
            android:parentActivityName=".EmergencyActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.intibotbuddy_admin.EmergencyActivity" />
        </activity>
        <activity
            android:name=".DeleteInjuredActivity"
            android:parentActivityName=".InjuredActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.intibotbuddy_admin.InjuredActivity" />
        </activity>
        <activity
            android:name=".AddCounsellingActivity"
            android:parentActivityName=".CounsellingActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.intibotbuddy_admin.CounsellingActivity" />
        </activity>
        <activity
            android:name=".EditInjuredActivity"
            android:parentActivityName=".InjuredActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.intibotbuddy_admin.InjuredActivity" />
        </activity>
        <activity android:name=".EditEmergencyActivity"
            android:parentActivityName=".EmergencyActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.intibotbuddy_admin.EmergencyActivity" />
        </activity>
        <activity android:name=".EditCounsellingActivity"
            android:parentActivityName=".CounsellingActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.intibotbuddy_admin.CounsellingActivity" />
        </activity>
        <activity android:name=".DeleteEmergencyActivity"
            android:parentActivityName=".EmergencyActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.intibotbuddy_admin.EmergencyActivity" />
        </activity>
        <activity android:name=".DeleteCounsellingActivity"
            android:parentActivityName=".CounsellingActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.intibotbuddy_admin.CounsellingActivity" />
        </activity>
    </application>

</manifest>